@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(180deg, #001329 0%, rgba(34, 34, 80, 0) 100%), #1e1e1e;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

.an {
    animation-name: flo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes flo {
    50% {
        transform: translateY(30px);
    }
}

.card-bg-1{
    // a24460
    // 602838
    background-color: #a24460 ;
}
.card-bg-2{
    // a24460
    // 602838
    background-color: #3B7DCC ;
}
.card-bg-3{
    // a24460
    // 602838
    background-color: #085f46 ;
}
.card-bg-4{
    // a24460
    // 602838
    background-color: #8931f2 ;
}
.card-bg-5{
    // a24460
    // 602838
    background-color: #ac6c41 ;
}
.card-bg-6{
    // a24460
    // 602838
    background-image: linear-gradient(to bottom right, #f76258, #f75561, #f52877) ;
}